body { 
    height:100%;
    margin-top:0.15em; 
    margin-bottom:1em; 
    margin-left:0.15em; 
    margin-right:0.15em; 
    /*border: solid blue;
    border-width: thin;*/
    font-family:"Times New Roman";
    //color: #347deb;
}


.sectionHeader {
    font-size:18pt;
    margin-bottom:0px; 
    margin-top:0.5em;
    color: #347deb;
}

.horizontalLine {
    margin-top:0.1em;
    margin-bottom:0.1em;
    height: 0.1em;
    border: 0 none;
    color: #192280;
    background-color: #192280;
}

.pubTitle {
    font-size:16pt;
    margin-bottom:0.1em; 
    margin-top:0.1em; 
    font-style: italic; 
    font-weight:bold
}

.TATimes {
    font-size:1.17em;
    /* font-size:14pt; */
    /* font-size:10px;  */
    margin-bottom:0.1em; 
    margin-top:0.1em; 
    font-style: italic; 
    /* font-weight:bold */
}

.subHeadings {
    font-size:16pt;
    /* font-size:10px;  */
    margin-bottom:0.1em; 
    margin-top:0.1em; 
    /* font-style: italic;  */
    font-weight:bold
}

.subSubHeadings {
    font-size:12pt;
    /* font-size:10px;  */
    margin-bottom:0.1em;
    margin-top:0.1em;
     font-style: italic;
    font-weight:bold
}

.projectInfo {
    font-size:16pt;
    margin-bottom:0.1em; 
    margin-top:0.1em;
}

.image_column {
    width:15%;
}

.double_width_image_column {
    width:30%;
}

.profile_image_column {
    width:13%;
}

.project_image {
    width:100%
}

.from_to {
    width:15%;
}

.double_from_to {
    width:30%;
}

.workDesc {
    padding-right: 20px;
    width:100%
}

.tableDet {
    width:100%
}

#footer {
        opacity: 50%;
        position: static;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: 20px;
        background: #f2f2f2;
}